.lw { font-size: 60px; }

#MazeCanvas {
  border:1px solid #000000;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin: auto;
  z-index: 2;
  background: #cdcdcd;
}

body { 
  background: url(8a79ae60c65c025c65d1e9a70fdacd95.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Title {
  text-align: center; 
}
