* {
font-family: 'Press Start 2P', cursive;
}

body {
  background: url(https://i.pinimg.com/originals/8a/79/ae/8a79ae60c65c025c65d1e9a70fdacd95.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  width: 50%;
  position: relative;
  left: 50%;
  margin-left: -17.9%;

}

h3 {
  width: 50%;
  position: relative;
  left: 50%;
  margin-left: -12.5%;

}

li {
  margin: 15px 0;
}

.Instructions {
  background-color: rgba(0,0,0,0.8);
  border-width: 7px;
  border-style: double;
  color: White;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  padding-left: 16px;
  margin-right: 5px;
  margin-left: 4px;
  margin-top: 25px;
  margin-bottom: 25px;
  position: static;
  font-size: 70%;
}

#InstructionsTitle {
  text-align: center;
}

#defaultCanvas0 { /*I looked at my html file on the browser's inspect function, and I saw that the javascript canvas had an id called defaultCanvas0, I can use that id to make css changes to the canvas, such as centerizing it. */
  border: 1px solid #000000;
  position: relative;
  z-index: 0;
  left: 50%;
  margin-left: -15.5%;
}
