* {
font-family: 'Press Start 2P', cursive;
}

#defaultCanvas0 { /*I looked at my html file on the browser's inspect function, and I saw that the javascript canvas had an id called defaultCanvas0, I can use that id to make css changes to the canvas, such as centerizing it. */
  border: 1px solid #000000;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin: auto;
  z-index: 0;
  text-align: center;
}

body {
  background: url(https://i.pinimg.com/originals/8a/79/ae/8a79ae60c65c025c65d1e9a70fdacd95.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -17.9%;
}

h3 {
  width: 75%;
  position: fixed;
  left: 50%;
  margin-top: 6%;
  margin-left: -12.5%;
}
